<menu>
<nav>
  <a class="sliding-u-l-r-l" href="/" title="Everything">Everything</a>
  {% for category in site.data.categories %}
  <a href="{{ site.baseurl }}/{{category.category}}" title="{{ category.category }}">{{ category.category }}</a>
{% endfor %}
</nav>
<div class="bottom-fold">
<ul>
  <li><a href="{{base.url}}/nominate.html" title="Nominate a desginer">Nominate</a></li>
  <li><a href="{{base.url}}/about.html" title="about">About</a></li>
  <li><a href="{{ base.url}}/contact.html" title="contact us">contact</a></li>
</ul>
{%include social-links.html%}
</div>
</menu>
