<menu>
<nav>
  <a class="sliding-u-l-r-l" href="/" title="Everything">Everything</a>
  {% for category in site.data.categories %}
  <a href="{{ site.baseurl }}/{{category.category}}" title="{{ category.category }}">{{ category.category }}</a>
{% endfor %}
<hr/>
<a href="{{base.url}}/nominate.html" title="Nominate a desginer">Nominate</a>
<a href="{{base.url}}/design-assignment" title="Design Assignment Generator">Design Assignment</a>
<a href="{{base.url}}/about.html" title="about">About</a>
<a href="{{ base.url}}/contact.html" title="contact us">Contact</a>
</nav>
</menu>
