<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{site.title}} | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/favicon.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    {% seo %}
    {% feed_meta %}
    <style>
      {% capture include_to_scssify %}
        {% include main.scss %}
      {% endcapture %}
      {{ include_to_scssify | scssify }}
    </style>
  </head>
  <body>
{{ content }}
</body>
{% include scripts.html%}
</html>
