html ::selection
  background: lighten($matcha, 30)
  font-size: 16px
body
  color: $slate
  margin: 0
  height: 100%
  width: 100%
  .wrap
    height: 100vh
    display: flex
    margin: 0
    padding: 0
    // mobile navigation
    #mobile-nav
      display: none
      background: $pop
      padding: 2em
      align-items: center
      a
        display: flex
        align-items: center
        height: 100%
        margin: 0 auto 0 0
        h4
          color: white
          margin: 0
    aside
      order: 2
      background: $pop
      flex: 1
      border-bottom: 1px solid darken($pop, $minus-sm)
      transition: all 0.3s ease
      overflow-y: auto
    .content
      order: 1
      flex: 2
      position: relative
// vertical scrolling enable on each panel
.content
  overflow-y: scroll
  padding: 2em
  width: 100%
  h2
    // removes top margin on logo text
    margin-top: 0
article.article
  margin: 0 auto
  // limits character in paragraphs for better reading
  max-width: 76ch
  p a, a
    color: $pop
    font-weight: 600
    &:hover
      text-decoration: underline

// style related to grid of people
.content article ul
  padding: 0
  list-style: none
  width: 100%
  display: flex
  flex-wrap: wrap
  align-items: stretch
  .design-wrap
    margin: 2em 2em 2em 0
    padding-right: 2em
    text-align: center
    filter: grayscale(100%)
    transition: all 250ms ease-out
    cursor: pointer
    .rounded
      border-radius: 50%
      width: 128px
      height: 128px
      &::before
        content: ' '
        display: block
        border-radius: 50%
        height: 128px
        width: 128px
      &:hover
        box-shadow: 0 0 0 transparentize($pop, .4)
        animation: pulse .8s
    a
      color: $pop
  .design-wrap:hover
    filter: grayscale(0)
// animation for pulse effect on character avatars
@-webkit-keyframes pulse
  0%
    -webkit-box-shadow: 0 0 0 0 transparentize($pop, .4)
  70%
    -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0)
  100%
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0)
@keyframes pulse
  0%
    -moz-box-shadow: 0 0 0 0 transparentize($pop, .4)
    box-shadow: 0 0 0 0 transparentize($pop, .4)
  70%
    -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0)
    box-shadow: 0 0 0 10px rgba(204,169,44, 0)
  100%
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0)
    box-shadow: 0 0 0 0 rgba(204,169,44, 0)
.icon
  color: rgba(255, 255, 255, 1)

// styles for header section and logo
header a
  display: flex
  align-items: center
  justify-content: flex-start
  font-weight: 600
  color: $pop
  #site-logo
    height: 7em
    width: auto
    display: inline-block
    margin-right: 1.5em
  h2
    margin: 0

svg
  width: 2.3em
  height: 2.3em
  display: block
// style related to mobile layout
@media (max-width: 750px)
  body
    .wrap
      // reverses column order to place sidebar on top
      flex-direction: column
      flex-direction: column-reverse
      #mobile-nav
        display: flex
        top: 0
        right: 0
        left: 0
        height: 75px
        position: fixed
        z-index: 999
      .content
        flex: 5
        order: 1
        padding: 1.5em
        margin-right: 6em
        header, .tag-line
          display: none
      aside.sidebar
        // scale down header to hide under mobile navigation
        flex: .5
        order: 2
        footer
          display: none
  .content article ul .design-wrap
    margin: 0
    .rounded
      width: 96px
      height: 96px
#nav-trigger-btn
  // styles related to hambuger menu
  z-index: 2
  cursor: pointer
  &:before, &:after
    display: block
    height: 2px
    background: white
    width: 2em
    margin-bottom: .4em
    transition: .2s all linear
  &:before, &:after
    content: ""

//logic behind checkbox navigation and animation
// increase sidebar height on check and animated with transition all
// height increase overided by more specific namespace in desktop style

#nav-trigger:checked ~ aside.sidebar
  flex: 32

#nav-trigger:checked + #mobile-nav #nav-trigger-btn
  height: 4em
  width: 2em
  &:before
    transform: rotate(-45deg)
    position: absolute
    top: 50%
  &:after
    transform: rotate(45deg)
    position: absolute
    top: 50%
